/** Styling classes */

.border-0 {
    border: 0 !important;
}

.border-circle-gray {
    border: 2px solid gray;
    border-radius: 33%;
}

.gray {
    color: gray;
}


/** General Layout **/

html {
    opacity: 0;
    /* JS Controlled */
}

body {
    /* padding: 5px; */
    width: 8.5in;
    min-height: 11in;
    border-radius: .5rem;
    border: 1px solid rgba(125, 125, 125, .5);
    margin: 5px auto;
}

@media print {
    .page-controls {
        display: none;
    }
    .ui-resizable-handle {
        display: none;
    }
    body {
        border: 0;
    }
}

html {
    transition: opacity 1s ease;
}


/** Settings Components **/

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.grid-item {
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    display: table;
}

.show-menu-hotarea {
    position: fixed;
    top: 0;
    right: 0;
    /* width: 250px;
    height: 300px; */
    width: 100px;
    height: 100px;
}

.show-menu-icon-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 90;
}

.show-menu-icon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.page-controls {
    height: 100px;
    min-width: 50px;
    max-width: 170px;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 91;
    overflow: visible;
}

.page-controls__white_bg {
    position: absolute;
    top: 0;
    right: -10px;
    width: 70px;
    height: 190px;
    background-color: white;
    z-index: -2;
}

.page-controls>button.fa-ellipsis-v {
    font-size: 150%;
    margin-right: 25px;
    margin-top: 15px;
}

.page-controls>button#btn-toggle-edit-preview {
    font-size: 120%;
    margin-right: 17px;
}

.page-controls>button.fa-television {
    font-size: 120%;
    margin-right: 15px;
}

.page-controls>button.fa-plus {
    font-size: 125%;
    margin-right: 1.5ch;
}

button.fa-terminal {
    position: fixed;
    bottom: 20px;
    right: 2ch;
    font-size: 125%;
}

.page-controls li.active {
    opacity: .5;
}

.page-controls__controls hr {
    border: 0;
    border-top: 1px solid rgba(125, 125, 125, .5);
    margin: 5px 0;
    padding: 0;
}

.page-controls__controls [type="color"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#indicator-box-mode {
    display: inline;
}

#indicator-box-mode>.icon {
    display: none;
}

#indicator-box-mode[data-cycled="0"] .icon:nth-child(1) {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
}

#indicator-box-mode[data-cycled="1"] .icon:nth-child(2) {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
}

#indicator-box-mode[data-cycled="2"] .icon:nth-child(3) {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
}


/** Box Components **/

.handle-rearrange {
    position: absolute;
    bottom: 1px;
    right: 1px;
    cursor: move;
}

.ui-resizable-e,
.ui-resizable-s,
.ui-resizable-se {
    overflow: hidden;
    position: absolute;
    bottom: -3px !important;
    right: -3px !important;
    transform: scale(140%);
}

.resizable-helper {
    border: 1px dotted #999;
}


/** Command Palette UI **/

#command-prompt-table thead tr th {
    border-bottom: 1px solid gray;
}

#command-prompt-table {
    margin-top: .8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    border-spacing: 10px;
    border-collapse: separate;
}

#command-prompt-cmd {
    width: 100%;
    border: 1px solid gray;
}

div[role="dialog"][aria-describedby="command-prompt"] .ui-dialog-buttonset button:hover {
    color: blue;
    border-color: blue;
}

div[role="dialog"][aria-describedby="command-prompt"] .ui-dialog-buttonset button:nth-child(1) {
    margin-right: 30px;
    border: 1px solid royalblue;
    color: royalblue;
    padding: 10px;
}

div[role="dialog"][aria-describedby="command-prompt"] .ui-dialog-buttonset button:nth-child(1):hover {
    border: 1px solid blue;
    color: blue;
}


/** Display Message **/

#msg.green {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(148, 196, 156, 1);
    color: rgb(19 78 74 / var(--tw-text-opacity));
    border-color: rgb(20 184 166 / var(--tw-border-opacity));
}

#msg.green svg {
    color: rgb(20 184 166 / var(--tw-text-opacity));
}

#msg.red {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(245, 106, 135, .96);
    color: rgb(245 56 93 / var(--tw-text-opacity));
    border-color: rgb(245 56 93 / var(--tw-border-opacity));
}

#msg.red svg {
    color: rgb(245 56 93 / var(--tw-text-opacity));
}

#msg.info {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: rgb(15, 212, 242, .95);
    color: rgb(23 162 184 / var(--tw-text-opacity));
    border-color: rgb(23 162 184 / var(--tw-border-opacity));
}

#msg.info svg {
    color: rgb(23 162 184 / var(--tw-text-opacity));
}

#msg {
    /* Initially hidden for sliding down */
    display: none;
    /* Position */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100vw; */
    width: 100%;
    margin-bottom: 7px;
    /* Shadows */
    /* Text */
    --tw-text-opacity: 1;
    /* Background */
    --tw-bg-opacity: 1;
    /* background-color: rgb(204 251 241 / var(--tw-bg-opacity)); */
    /** Border **/
    --tw-border-opacity: 1;
    border-top-width: 4px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    /* Spacing */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#msg .flex {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

#msg svg {
    --tw-text-opacity: 1;
    fill: currentColor;
}

#msg-message {
    margin-top: 10px;
}


/* Bug Fix: Command Palette sometimes overshadowed by shadow overlay */

[describedby="command-prompt"] {
    z-index: 9999;
}