/** Styling classes */

.border-0 {
    border: 0 !important;
}

.border-circle-gray {
    border: 2px solid gray;
    border-radius: 33%;
}


/** General Layout **/

body {
    width: 8.5in;
    height: calc(11in - 10px);
    border-radius: 20px;
    border: 1px solid rgba(125, 125, 125, .5);
    margin: 5px auto;
}

@media print {
    .page-controls {
        display: none;
    }
    .ui-resizable-handle {
        display: none;
    }
    body {
        border: 0;
    }
}


/** Components **/

.grid {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.grid-item {
    border: 1px solid black;
    overflow: hidden;
}

.page-controls {
    top: 10px;
    right: 15px;
    width: 155px;
    height: 100px;
    position: absolute;
}

.page-controls>button.fa-plus {
    font-size: 125%;
    margin-right: 1ch;
}

.page-controls>button.fa-ellipsis-v {
    font-size: 150%;
}

.page-controls li.active {
    opacity: .5;
}

.handle-rearrange {
    position: absolute;
    bottom: 1px;
    right: 1px;
    cursor: move;
}

.page-controls__controls hr {
    border: 0;
    border-top: 1px solid rgba(125, 125, 125, .5);
    margin: 5px 0;
    padding: 0;
}

.on-hover-red:hover {
    color: red;
    border-color: red !important;
}