.grid {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.grid-item {
    border: 1px solid black;
    overflow: hidden;
}

.page-controls {
    top: 10px;
    right: 15px;
    width: 155px;
    height: 100px;
    position: absolute;
}

.page-controls .fa-gear {
    font-size: 150%;
}

.page-controls li.active {
    opacity: .5;
}

.no-borders {
    border: 0;
}

body {
    width: 8.5in;
    height: calc(11in - 10px);
    border-radius: 20px;
    border: 1px solid rgba(125, 125, 125, .5);
    margin: 5px auto;
}

@media print {
    .page-controls {
        display: none;
    }
    .ui-resizable-handle {
        display: none;
    }
    body {
        border: 0;
    }
}